@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

@defaultGrey: #e8e8e8;
@darkerGrey: darken(@defaultGrey, 20%);

body {
  font-family: 'Space Mono', monospace;
  width: 90%;
  margin: 50px auto 0 auto;
}

#top {
  position: absolute;
  right: 10%;
  text-align: center;
  .logo {
    font-size: xx-large;
    color: darkblue;
  }
  .disclaimer {
    font-size: small;
  }
}

#app {
  display: flex;
  flex-flow: row wrap;

  button {
    background-color: @defaultGrey;
    border: 0;
    padding: 7px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: @darkerGrey;
    }
  }

  #dt, #buttonContainer {
    flex: 1 100%;
    padding: 1em 1em 1em 0;
    span {
      font-weight: bold;
    }
  }

  #roads {
    flex: 1;    
    list-style: none;
    .road {
      .name { 
        font-size: 25pt; 
        cursor: pointer;
        display: inline-block;
      }
      .badge-container {
        display: none;
        position: relative;
        top: -4pt;
        span {
          padding: 5px;
        }
      }
      .region {
        .name { font-size: 15pt; }
      }
    }

    ul.regions {
      list-style: none;
      li {
        ul.conditions {
          li {
            &.paragraph {
              padding: 2px;
              &:hover {
                background-color: @defaultGrey;
              }
            }
            &.road {
              border: solid 1px white;
              &:hover { border: solid 1px @defaultGrey; }
            }
          }
        }
      }
    }

    &.compactMode {
      .badge-container { display: inline-block; }
      ul.regions { display: none; }
    }
  }

  #roadlist {
    div {
      &:hover {
        background-color: @defaultGrey;
      }
      input { display: inline-block; }
      .modifier {
        color: @darkerGrey;
        width: 20px;
        display: inline-block;
      }
      .number { 
        font-weight: bold; 
        display: inline-block;
      }
    }
  }

  span {
    &.red { 
      background-color: red;
      color: white;
    }
    &.green {
      background-color: lightgreen;
    }
    &.pink {
      background-color: pink;
      color: red;
    }
    &.place {
      background-color: #ededed;
    }
  }
}

.error {
  visibility: hidden;
  padding: 20px;
  border: solid 1px red;
  background-color: pink;
  color: red;
}