@defaultGrey: #e8e8e8;
@darkerGrey: darken(@defaultGrey, 20%);

body {
  font-family: Verdana, sans-serif;
  width: 90%;
  margin: 50px auto 0 auto;
}

#app {
  display: flex;
  flex-flow: row wrap;

  #dt {
    flex: 1 100%;
    padding: 1em 1em 1em 0;
    span {
      font-weight: bold;
    }
  }

  #roads {
    flex: 1;
    .road {
      .name { font-size: 25pt; }
      .region {
        .name { font-size: 15pt; }
      }
    }

    ul {
      li {
        &.paragraph {
          padding: 2px;
          &:hover {
            background-color: @defaultGrey;
          }
        }
        &.road {
          border: solid 1px white;
          &:hover { border: solid 1px @defaultGrey; }
        }
      }
    }
  }

  #roadlist {
    div {
      &:hover {
        background-color: @defaultGrey;
      }
      input { display: inline-block; }
      .modifier {
        color: @darkerGrey;
        width: 20px;
        display: inline-block;
      }
      .number { 
        font-weight: bold; 
        display: inline-block;
      }
    }
  }

  span {
    &.red { 
      background-color: red;
      color: white;
    }
    &.green {
      background-color: lightgreen;
    }
    &.pink {
      background-color: pink;
      color: red;
    }
    &.place {
      background-color: #ededed;
    }
  }
}

.error {
  visibility: hidden;
  padding: 20px;
  border: solid 1px red;
  background-color: pink;
  color: red;
}